.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, hsl(223, 65%, 41%), hsla(204, 85%, 47%, 0.993));
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
}
.search-bar img:hover{
    cursor: pointer;
    background-color: hsla(180, 100%, 50%, 0.849);
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;

}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}

/* Media query for small screens (max-width: 600px) */
@media (max-width: 600px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .weather {
        padding: 15px;
        margin: 5px;
        background-image: linear-gradient(45deg, hsl(223, 65%, 41%), hsla(204, 85%, 47%, 0.993));
    }

    .search-bar input {
        font-size: 14px;
    }

    .temperature {
        font-size: 40px;
    }

    .location {
        font-size: 24px;
    }

    .weather-data {
        display: flex;
        flex-direction: row;
    }

    .weather-data .col {
        font-size: 15px;
    }
    .app{
        background-color: rgba(255, 218, 185, 0.521);
        
      }
}
